registry=https://msi-cie.pkgs.visualstudio.com/_packaging/p1records/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 6/13/2019.
; begin auth token
//msi-cie.pkgs.visualstudio.com/_packaging/p1records/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1MzczYmFjMC05Mzg1LTYyZmQtOTU4MS1iNTJiZjg5YjRjM2YiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNmUxMDcwNWQtZjczNC00YzcwLWIyMDAtOTFkNzEzZTE5ZWJkIiwic2lkIjoiNGFiMGQwNzctYjVkMi00YmUwLWEzMzgtMTQzZDU5NjViODFjIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjlmN2Q0OTVhLTEzOWEtNDEzNy1hZWMwLTlmNjYzNjdkMjhiYSIsIm5iZiI6MTU1MjY4NDgyOCwiZXhwIjoxNTYwNDYxNDI4fQ.oXDHtZrRc4a6MugsuQQB4cHrvx5GEy_GF1mAZst4yp5i4YPWyWHLhDtDzXzYdn-OYVXMl0Tqnhn4Kgj6BAYC_OtMqo6JL8f77NbfdAvxK3XjLRv_9kLOErDrrFjLMkeSFfXz_P65xIM7YVNT_qw0PHpktQ_ThYrVfQS5cI5GbkHktQRLWU6RYvkIyD0f4_nLLg8cYsXGKfBKZrv_zvjnd7zLmgG0bAnceJef_N3rTRq0MtQ37so96auofrhB0bmSJdWgXIYQqnLJNdcTAyb83Jm-DbRR85cN4W5lBzD-tzjc3qp_ZDxU_3n_ZR1KU9pQeeFH1iliAsm0xrSKdvg2KA
//msi-cie.pkgs.visualstudio.com/_packaging/p1records/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1MzczYmFjMC05Mzg1LTYyZmQtOTU4MS1iNTJiZjg5YjRjM2YiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNmUxMDcwNWQtZjczNC00YzcwLWIyMDAtOTFkNzEzZTE5ZWJkIiwic2lkIjoiNGFiMGQwNzctYjVkMi00YmUwLWEzMzgtMTQzZDU5NjViODFjIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjlmN2Q0OTVhLTEzOWEtNDEzNy1hZWMwLTlmNjYzNjdkMjhiYSIsIm5iZiI6MTU1MjY4NDgyOCwiZXhwIjoxNTYwNDYxNDI4fQ.oXDHtZrRc4a6MugsuQQB4cHrvx5GEy_GF1mAZst4yp5i4YPWyWHLhDtDzXzYdn-OYVXMl0Tqnhn4Kgj6BAYC_OtMqo6JL8f77NbfdAvxK3XjLRv_9kLOErDrrFjLMkeSFfXz_P65xIM7YVNT_qw0PHpktQ_ThYrVfQS5cI5GbkHktQRLWU6RYvkIyD0f4_nLLg8cYsXGKfBKZrv_zvjnd7zLmgG0bAnceJef_N3rTRq0MtQ37so96auofrhB0bmSJdWgXIYQqnLJNdcTAyb83Jm-DbRR85cN4W5lBzD-tzjc3qp_ZDxU_3n_ZR1KU9pQeeFH1iliAsm0xrSKdvg2KA
; end auth token